<h3 class="d-flex justify-content-center align-items-center mt-5 mb-5">Ask your question here and the Stupid Coach will reply to you</h3>

<div>
  <form action="/answer" data-turbo="false" method="get" class="ms-5">
    <input type="text" name="questions"  value="<%= params[:questions] %>">
    <input type="submit" value="Ask!">
  </form>
</div>
